.App {
  width: 70%;
  margin: 1rem auto;
}

.byte-display {
  margin: 1.5rem 0;
  text-align: center;
  border: solid 1px #309930;
  background-color: #011f01;
  border: solid 1px #F00;
  border-radius: 10px;
  padding: .5rem;
}
